/* Content First - Mobile First */
*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body, h1, h2, h3{ margin: 0 }
/* Navigation */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #448;
}
nav a{
    display: block;
    padding: .5rem;
    color: #eee;
    font-weight: bold;
    text-decoration: none;
}
.button{
    margin: .5rem;
    border: .1rem solid #eee;
    padding: .25rem .75rem;
    color: #eee;
    background-color: transparent;
    font-size: 1.2rem;
}
.button:hover{
    color:#448;
    background-color: #eee;
}
.menu{
    display: none;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a:hover{
    background-color: rgba(51,51,51, .5);
}
nav .active{ display: block }
/* Header */
#header{
    height: 100vh;
    min-height: 300px;
    max-height: 600px;
    padding: 1rem;
    background-color: #ccc;
}

/* Main Content */
section{
    max-width: 920px;
    margin: 1rem auto;
    padding: 1rem;
    box-shadow: 0 0 .5rem #ccc;
}
/* Footer */

/* Contact Form */